POLİÇE SAYFASI
<div ng-controller="polController">
	{{Baslik}}

	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					Birinci kolon
				</div>
				<div class="panel-body">
					<table width="100%" class="table ">
						<tr>
							<td>Birinci Satır</td>
							<td>
								<input class="small" />
							</td>
						</tr>
						<tr>
							<td>Ada Branş</td>
							<td><ada-brans ></ada-brans></td>
						</tr>
						<tr>
							<td>Ada Test</td>
							<td><input adatest></input></td>
						</tr>
						<tr>
							<td>Ada Test</td>
							<td><input class="small" adatest></input></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
			<div class="col-sm-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						İkinci Kolon
					</div>
					<div class="panel-body">
						
					</div>
				</div>
			</div>
		</div>
	</div>
