<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Main Rule" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"  />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="[_0-9a-zA-Z-]+.teknik" negate="true"/>
						
					</conditions>
					<action type="Rewrite" url="/"  />
				</rule>
			</rules>
		</rewrite>
		<handlers>
			<add verb="*" path="*.aaaaaa" type="TeknikHandler" name="analizHandler" />
			<add verb="*" path="*.teknik" type="AdaHttpHandler.AdaAnaHttpHandler, AdaHttpHandler" name="swaHttpHandler"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<appSettings>
		<!--<add key="CookieDomain" value="localhost" />-->
		<add key="LoginUrl" value="http://localhost:54609/login.aspx?cont=http://localhost:53092/" />
		<add key="VeritabaniBaglantiString" value="Provider=vfpoledb.1;Collating Sequence=TURKISH;DATE=BRITISH;connection Timeout=1200;Data Source=D:\evrim\ADADATA.DBC" />
		<add key="VeritabaniTipi" value="FoxPro" />
		<add key="ElasticSearchUrl" value="http://localhost:9200" />
	</appSettings>
</configuration>
