<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="ajaxNet">
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
		</sectionGroup>
	</configSections>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" name="ajaxHandler"></add>
		</handlers>
	</system.webServer>

	<system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
	<appSettings>
		<add key="VeritabaniBaglantiString" value="Provider=vfpoledb.1;Collating Sequence=TURKISH;DATE=BRITISH;connection Timeout=1200;Data Source=D:\evrim\ADADATA.DBC" />
		<add key="VeritabaniTipi" value="FoxPro" />
		<add key="ElasticSearchUrl" value="http://localhost:9200" />
	</appSettings>

</configuration>