
<div ng-controller="araController">
	<div class="row">
		<br />
		<div class="search-classic col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-reorder"></i>
					AYARLAR
				</div>
				<div class="panel-body">
					<div class="tabbable panel-tabs">
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#panel_tab_example1">
									Arama Ayarları
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#panel_tab_example2">
									Tab 2
								</a>
							</li>
							<li>
								<a data-toggle="tab" href="#panel_tab_example3">
									Tab 3
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="panel_tab_example1" class="tab-pane active">
								1. Sayfada gösterilecek sonuç adedi
								2. Gösterilecek kolonlar
								3. Gruplarda maksimum sayı (facet size)
							</div>
							<div id="panel_tab_example2" class="tab-pane">
							</div>
							<div id="panel_tab_example3" class="tab-pane">
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	

</div>